@using Sandbox;
@using Sandbox.UI;
@using GameRP.Interactions;
@using System;

@namespace GameRP.Interactions
@inherits PanelComponent

<root>
    @if (Interactable != null && Interactable.IsLookingAt)
    {
        <div class="interaction-container">
            <div class="interaction-content">
                @if (Interactable.HoldDuration > 0)
                {
                    <div class="progress-wrapper">
                        <div class="progress-circle-outer">
                            <div class="progress-left-half" style="transform: rotate(@(Math.Min(Interactable.HoldProgress * 2, 1) * 180)deg)"></div>
                            <div class="progress-right-half" style="transform: rotate(@(Math.Max((Interactable.HoldProgress - 0.5f) * 2, 0) * 180)deg)"></div>
                        </div>
                        <div class="progress-circle-center">
                            <span class="progress-key">E</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="key-display">E</div>
                }

                <span class="interaction-text">@Interactable.InteractionText</span>
            </div>
        </div>
    }
</root>

@code
{
    [Property] public Interactable Interactable { get; set; }
    [Property] public Vector2 PanelSize { get; set; } = new Vector2(400, 150);

    private Sandbox.WorldPanel _worldPanel;

    protected override void OnEnabled()
    {
        base.OnEnabled();

        // Create WorldPanel component on the same GameObject
        _worldPanel = Components.GetOrCreate<Sandbox.WorldPanel>();
        _worldPanel.PanelSize = PanelSize;
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine(
            Interactable?.IsLookingAt,
            Interactable?.HoldProgress,
            Interactable?.InteractionText
        );
    }
}
